.heading {
  text-align: center;
  color: green;
}

.content {
  overflow-y: scroll;
  height: 2500px;
}

.button {
  position: fixed;
  width: 100%;
  left: calc(100% - 14rem);
  bottom: 31rem;
  height: 5rem;
  cursor: pointer;
}
